/* common css */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* banner section start */
#banner {
  background-image: url(/images/banner/banner1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 100px;
}
.banner-contain {
  text-align: right;
  margin-right: 130px;
}
.banner-contain h1 {
  padding-left: 720px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
  padding-bottom: 10px;
}
.banner-contain p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-left: 690px;
  padding-bottom: 30px;
}
.banner-contain button {
  background: #f15b22;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border: none;
  color: #ffffff;
  padding: 20px 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* banner section end */
/* previous-year section start */
#previous-year {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.previous-year-img img {
  width: 570px;
  height: 720px;
}
.previous-year-contain {
  padding-top: 280px;
  padding-left: 88px;
}
.previous-year-contain h2 {
  width: 280px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  padding-bottom: 20px;
}
.previous-year-contain p {
  width: 416px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.previous-year-contain p i {
  color: #16d887;
  padding-right: 6px;
  font-style: 16px;
}
/* previous-year section end */
/* My plans section start */
#plans {
  padding-top: 100px;
  padding-bottom: 100px;
}
.plans-header {
  text-align: center;
}
.plans-header h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.plans-body {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}
.plans-container {
  text-align: center;
}
.plans-container h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
  padding-top: 20px;
  padding-bottom: 10px;
}
.plans-container p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}
/* My plans section end */
/* My mindset section start */
#mindset {
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("/images/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 8px;
}
.mindset-contsin {
  margin-left: 64px;
}
#mindset h5 {
  width: 500px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  padding-bottom: 24px;
}
#mindset button {
  background: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border: none;
  color: #f15b22;
  padding: 20px 26px;
}
/* My mindset section end */
/* My footer section start */
footer {
  margin-top: 100px;
  background-color: #151414;
}
.footer-item {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
}
.footer-future {
  width: 400px;
}
.footer-future h5 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  padding-bottom: 16px;
}
.footer-future p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 16px;
}
.social-media{
  padding-top: 30px;
}
.social-media img{
  padding-right: 10px;
}
.footer-subscribe h6 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  padding-bottom: 16px;
}
.footer-subscribe input {
  width: 230px;
  height: 44px;
  background-color: #151414;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.footer-subscribe input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f3f3f3;
}
.footer-subscribe input:focus {
  outline: none;
}
.footer-subscribe button {
  display: block;
  background: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border: none;
  color: #f15b22;
  padding: 20px 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* My footer section end */
